@charset "utf-8";
#pageContent #contactForm .leftlabel {
	float: left;
    clear: both;
    min-width: 335px;
    text-align: right;
}
#contactForm {
	border-style:solid;
	border-width:1px;
	border-radius:4px;
	padding-top:7px;
	background-color:#F0F0F0;
}
#pageContent #contactForm input, #pageContent #contactForm textarea {
	margin-bottom:7px;
	margin-left:10px;
	border-radius:4px;
}
#pageContent #contactForm #submitbutton {
	position:relative;
	left:50%;
	transform:translateX(-50%);
	margin-top:15px;
	background-color:#00BBFF;
}

/*Case: Width too small to display form normally
Effect: adjust form to fit small screens*/
@media only screen and (max-width: 650px)
{
	#pageContent #contactForm .leftlabel {
		width:auto;
		float:inherit;
	}
}